
:root {
    --primary: #2E0000;
    --secundary: #B60000;
    --background: silver;
    --anchor: #BF3434;
    --foreground: #222;
    --dark: black;
    --light: #eee;
    --gray: #3C3C3C;
    --terciary: #780000;
    --light-gray: #666;
    --border-colorized: color-mix(in srgb, var(--light), var(--anchor));
    --vivid: red;
}

@font-face {
    font-family: Inter;
    src: url(Inter-VariableFont_slnt,wght.ttf);
}

body {
    font-family: Inter, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    border-radius: 0px;
    padding: 0.5em 2em;
    background-color: var(--secundary);
    border: 1px var(--border-colorized) solid;
    color: var(--light);
    font-weight: bold;
}

a {
    color: var(--anchor);
}

    a:visited {
        color: color-mix(in srgb, var(--anchor), var(--dark));
    }
    a:active {
        color: color-mix(in srgb, var(--anchor), var(--light));
    }


.inline-logo {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

    .inline-logo img {
        
        height: 60%;
    }


.menu {
    background-color: var(--primary);
    border-bottom: solid 2px var(--vivid);
}

    .menu a {
        color: var(--light);
        text-decoration: none;
    }
    .menu a:hover {
        color: color-mix(in srgb, var(--anchor), var(--light));
    }

    .menu ul {
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
        font-size: 16pt;
    }

    .menu li {
    }

.content{
    width: 80%;
    margin: auto;
    padding-top: 50px;
}